{% extends 'base.html.twig' %}

{% block title %} Hello ProductController!{% endblock %}

{% block body %}
<h1> Prodotti </h1>
<a href="{{path('product_new')}}"> Nuovo Prodotto</a>
<table>
<thead>
<tr>
<th> Nome </th>
<th> Descrizione </th>
<th> Size </th>
</thead>
<tbody>
{% for product in products %}
<tr>
<td> 
<a href="{{path('product_show', {'id' : product.id}) }}">
{{product.name}}
</a>
</td>
<td>{{product.description}}</td>
<td>{{product.size}}</td>
</tr>
{%endfor%}
</tbody>
</table>
{% endblock %}